/* Place CSS styles here */
body{
    background-color: rgb(231, 151, 247);
}
.mango{
   border-style: dashed;
}
.photo{
    width: 300px;
}
.meandmore {
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid black;
    margin: 10px;
  }
  .site {
    background-color: whitesmoke;
  }