/* Place CSS styles here */
body{
    background-color: rgb(231, 151, 247);
}
.photo{
    width: 300px;
}
.meandmore {
    display: flex;
    align-items: center;
    gap: 30px;
    border: 5px solid rgb(19, 48, 212);
    margin: 10px;
  }
  .site {
    background-color: whitesmoke;
  }