/* Place CSS styles here */
body{
    background-color: rgb(240, 195, 240);
}
.photo{
    width: 300px;
    padding-left: 50px;
    padding-right: 50px;
}
.meandmore {
    display: flex;
    align-items: center;
    gap: 30px;
    border:  10px solid rgb(240, 195, 240);
    margin: 10px;
  }
  .site {
    background-color: whitesmoke;
  }